/* Override CSS variables */
.sDN5V {
    /* IDK: Text color */
    --i1d: 255, 255, 255 !important;
    --d20: 255, 255, 255 !important;
    --f07: 255, 255, 255 !important;

    /* All: Background color */
    --cdc: 0, 0, 0 !important;

    /* Header line color */
    --b6a: 26, 26, 26 !important;

    /* All: Back Button Icon */
    --fe0: 255, 255, 255 !important;

    /* Message View: User Message Background Color */
    --c90: 38, 38, 38 !important;

    /* New Message: User Button Background */
    --fa7: 10, 38, 71 !important;

    /* New Message: User Button Text */
    --h5f: 74, 140, 218 !important;
}

/* Overwrite header color */
._9ezyW {
    background-color: rgb(26, 26, 26, 1) !important;
}

/* Glyphs/Icons + IG logo */
img.s4Iyt,
span[class^='glyphsSprite'],
span[class*=' glyphsSprite'] {
    /* Since they are PNG, can't set color, instead increase brightness so it looks white */
    filter: brightness(1000%);
}
svg {
    fill: white !important;
}

