/* Stats */
.g47SY,
.zwlfE {
    color: #fff !important;
}

._3dEHb,
.Nd_Rl,
.fx7hk,
._2z6nI {
    border-color: rgb(26, 26, 26, 1) !important;
}

/* Responsive */
a.T-jvg,
a.T-jvg:visited {
    color: #fff !important;
}

.T-jvg {
    border-color: #fff !important;
}

/* Icons */
a.T-jvg div[class^='coreSprite'],
a.T-jvg div[class*='coreSprite'] {
    filter: brightness(1000%);
}

div[class^='coreSprite'],
div[class*='coreSprite'] {
    filter: brightness(100%);
}

/* Post */
.JyscU ._97aPb,
.Z_y-9,
.ltEKP .QBXjJ {
    background-color: rgb(26, 26, 26, 1) !important;
}

.JyscU.ePUX4 .eo2As,
.ltEKP .QBXjJ,
.JyscU .Slqrh,
.JyscU.ePUX4 .UE9AK {
    border-color: rgb(26, 26, 26, 1) !important;
}
