body {
}

main.SCxLW.o64aR {
    background-color: #1a1a1a;
}

div._lz6s {
    background-color: #000000;
}

div.b5itu {
    background-color: #000000;
}

div.Igw0E.rBNOH.eGOV_.ybXk5._4EzTm.XfCBB.HVWg4 {
    background-color: #030303;
}

div.N9abW {
    background-color: #000000;
}

div._7UhW9.xLCgt.MMzan.KV-D4.uL8Hv {
    color: #ffffff;
}

div.frMpI {
    background-color: #000000;
}

div.Igw0E.IwRSH.eGOV_._4EzTm.XfCBB.g6RW6 {
    background-color: #000000;
}

div._7UhW9.vy6Bb.qyrsm.KV-D4.fDxYl {
    color: #ffffff;
}

div.Igw0E._56XdI.eGOV_.vwCYk.n4cjz {
    color: #ffffff;
}

div.mXkkY.KDuQp {
    color: #ffffff;
}

div.X3a-9 {
    border-color: #fff;
}

div.Igw0E.IwRSH.YBx95._4EzTm.XfCBB.g6RW6 {
    background-color: #ffffff;
}

div.b5itu.eerSz {
    border-color: black;
}

svg._8-yf5 {
    color: #ffffff;
}

h1.K3Sf1 {
    color: #ffffff;
}

div.Igw0E.IwRSH.eGOV_.vwCYk.ItkAi textarea {
    color: #ffffff;
}

