/* .Iazdo { */
/*     display: none !important; */
/* } */
.KV-D4 {
    color: white !important;
}
._0PwGv {
    color: white !important;
}
.N9abW {
    background: black !important;
}
.hLiUi {
    background: black !important;
}
